<div class="home-section-container">
  <aside class="right">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="../../../assets/images/bg-intro-mobile.svg"
      />
      <img
        src="../../../assets/images/bg-intro-desktop.svg"
        alt="bg intro"
        class="bg-intro"
      />
    </picture>
    <img
      src="../../../assets/images/image-mockups.png"
      alt="image mockups"
      class="image-mockups"
    />
  </aside>
  <aside class="left">
    <h1 class="title">Next generation digital banking</h1>
    <p class="about">
      Take your financial life online. Your Easybank account will be a
      one-stop-shop spending , saving, budgeting, investments, and much more.
    </p>
    <app-button></app-button>
  </aside>
</div>
